.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rpsFrame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.rpsButtonFrame {
    display: flex;
    justify-content: center;
}

.rpsButton {
    height: 20%;
    padding: 20px;
    margin: 20px;
    border: solid;
    border-width: thick;
    border-radius: 5px;
    border-color: black;
    aspect-ratio: 1 / 1;
}
.rpsButton:hover {
    border-color: gray;
}

.rpsResultsFrame{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.computerChoice {
    font-size: xx-large;
    text-align: center;
}
.resultText{
    text-align: center;
    font-size: large;
}
.scoreBox{
    text-align: center;
    font-size: xx-large;
}